@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Nunito font */
* {
    font-family: "Nunito", sans-serif;
}

html,
body {
    height: 100vh;
    margin: 0;
}

@layer components {

    .bg-header {
        @apply bg-gradient-to-b from-sky-950 to-transparent;
    }

}
